<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>janken</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
</body>

<ul sec:authorize="hasRole('ROLE_USER')">
  <li th:each="user : ${user}"><a th:href="@{/game/match(id=${user.id})}">[[${user.name}]]</a></li>

</ul>

<H2 sec:authorize="hasRole('ROLE_USER')">対戦待ち</H2>

<ul sec:authorize="hasRole('ROLE_USER')">
  <li th:each="match : ${match_wait}">
    <a th:href="@{/game/matchwait(id=${match})}">
      matchNo:[[${match}]]
    </a>
  </li>

</ul>

</html>
