<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>janken</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
</body>

<ul sec:authorize="hasRole('ROLE_USER')">
  <li th:each="user : ${user}"><a th:href="@{/game/match(id=${user.id})}">[[${user.name}]]</a></li>

</ul>

<H2 sec:authorize="hasRole('ROLE_USER')">対戦待ち</H2>

<ul sec:authorize="hasRole('ROLE_USER')">
  <li th:each="match : ${match_wait}">
    <a th:href="@{/game/matchwait(id=${match})}">
      matchNo:[[${match}]]
    </a>
  </li>

</ul>

<table sec:authorize="hasRole('ROLE_MASTER')">
  <thead>
    <th>Index</th>
    <th>id</th>
    <th>name</th>
    <th>gu</th>
    <th>cho</th>
    <th>pa</th>
    <th>star</th>
  </thead>

  <tbody>
    <tr th:each="users,stat:${userdb}">
      <td>[[${stat.index}]]</td>
      <td>[[${users.id}]]</td>
      <td>[[${users.name}]]</td>
      <td>[[${users.gu}]]</td>
      <td>[[${users.cho}]]</td>
      <td>[[${users.pa}]]</td>
      <td>[[${users.star}]]</td><br />
    </tr>
  </tbody>
</table>

<table sec:authorize="hasRole('ROLE_MASTER')">
  <thead>
    <th>Index</th>
    <th>matchid</th>
    <th>user1id</th>
    <th>user2id</th>
    <th>user1hand</th>
    <th>user2hand</th>
    <th>isAct</th>
  </thead>
  <tbody>
    <tr th:each="match,stat:${matchdb}">
      <td>[[${stat.index}]]</td>
      <td>[[${match.matchid}]]</td>
      <td>[[${match.user1id}]]</td>
      <td>[[${match.user2id}]]</td>
      <td>[[${match.user1hand}]]</td>
      <td>[[${match.user2hand}]]</td>
      <td>[[${match.isAct}]]</td><br />
    </tr>
  </tbody>
</table>

</html>
