<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>matchjanken</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <div><a href="/game/step1">戻る</a></div>

  <h1>
    <a> VS [[${enemyname}]]</a>
  </h1>

  <div>
    <a th:href="@{/game/janken/gu(id=${enemyid})}">グー</a>
    <a th:href="@{/game/janken/cho(id=${enemyid})}">チョキ</a>
    <a th:href="@{/game/janken/pa(id=${enemyid})}">パー</a>
  </div>
</body>

</html>
