<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.springframework.org/schema/security">

<head>
  <meta charset="utf-8">
  <title>wait</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <div><a href="/game/step1">戻る</a></div>

  <h1>
    <a> VS [[${enemyname}]]</a>
  </h1>

  <div>
    <a th:href="@{/game/janken2/gu(id=${matchid})}">グー</a>
    <a th:href="@{/game/janken2/cho(id=${matchid})}">チョキ</a>
    <a th:href="@{/game/janken2/pa(id=${matchid})}">パー</a>
  </div>

  <div th:if=${judge}>
    勝敗<br />
    [[${judge}]]

    <a href="/game/nextgame">次へ</a>
  </div>

  <div th:if=${gamejudge}>
    [[${gamejudge}]]
  </div>
</body>

</html>
